@import './globals.css';
@import './home-aside.css';
@import './home-modal.css';

body {
  display: flex;
  align-items: center;
}

.aside-container {
  width: 100%;
  max-width: 380px;
  min-height: 100vh;
  background: var(--bg-color);
}

.main-container {
  flex-grow: 1;
  background-color: var(--blue-gray-light-4);
  min-height: 100vh;
}
