@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Primary Color */
  --primary-color-light-7: #e6f3f6;
  --primary-color-light-6: #cceae9;
  --primary-color-light-5: #b3e2de;
  --primary-color-light-4: #99d9d1;
  --primary-color-light-3: #80d1c4;
  --primary-color-light-2: #66c7b7;
  --primary-color-light-1: #33b79f;
  --primary-color: #00a288;
  --primary-color-dark-1: #00977a;
  --primary-color-dark-2: #00886c;
  --primary-color-dark-3: #00785e;
  --primary-color-dark-4: #006850;
  --primary-color-dark-5: #005742;
  --primary-color-dark-6: #004634;
  --primary-color-dark-7: #003526;

  /* Pale Blue as gray */
  --pale-blue-light-7: #fdfdfd;
  --pale-blue-light-6: #f8fafc;
  --pale-blue-light-5: #f3f5f7;
  --pale-blue-light-4: #e8ebf1;
  --pale-blue-light-3: #dde3ec;
  --pale-blue-light-2: #d1dae6;
  --pale-blue-light-1: #c6d1de;
  --pale-blue: #bac2cf;
  --pale-blue-dark-1: #9ea8b5;
  --pale-blue-dark-2: #8a94a2;
  --pale-blue-dark-3: #758085;
  --pale-blue-dark-4: #616d6e;
  --pale-blue-dark-5: #4e5a59;
  --pale-blue-dark-6: #3b4644;
  --pale-blue-dark-7: #283b33;

  /*  */
  --red-1: #ff4d4d; /* Bright red */
  --red-2: #ff6666; /* Light red */
  --red-3: #ff8080; /* Soft red */
  --red-4: #ff9999; /* Pale red */
  --red-5: #ffcccc; /* Very light red */
  --red-6: #ffe6e6; /* Almost pink */

  /*  */
  --green-1: #28a745; /* Bright green */
  --green-2: #34b849; /* Light green */
  --green-3: #5cb85c; /* Soft green */
  --green-4: #8ccf8c; /* Pale green */
  --green-5: #a8e6a8; /* Very light green */
  --green-6: #c9f7c9; /* Almost white green */

  /*  */
  --orange-1: #ff6600; /* Bright orange */
  --orange-2: #ff7f00; /* Orange */
  --orange-3: #ff9933; /* Light orange */
  --orange-4: #ffb366; /* Soft orange */
  --orange-5: #ffcc80; /* Pale orange */
  --orange-6: #ffe0b3; /* Very light orange */

  /*  */
  --blue-1: #3399ff; /* Bright blue */
  --blue-2: #66b3ff; /* Light blue */
  --blue-3: #80c2ff; /* Soft blue */
  --blue-4: #99ccff; /* Pale blue */
  --blue-5: #b3d6ff; /* Very light blue */
  --blue-6: #cce5ff; /* Almost white blue */

  /*  */
  --brown-1: #8b4513; /* Saddle brown */
  --brown-2: #a0522d; /* Sienna */
  --brown-3: #cd853f; /* Peru */
  --brown-4: #d2691e; /* Chocolate */
  --brown-5: #f4a460; /* Sandy brown */
  --brown-6: #deb887; /* Burlywood */

  /*  */
}

/* Light mode */
html[data-theme='light'] {
  color-scheme: light;

  /*  */
  --color-bg-1: #ffffff;
  --color-bg-2: var(--pale-blue-light-4);
  --color-bg-3: #ffffff;

  --color-txt-1: #22223b;
  --color-txt-2: var(--pale-blue-dark-4);
  --color-txt-3: #ffffff;
}

/* Dark mode */
html[data-theme='dark'] {
  color-scheme: dark;
  --bg-color: #2b2d42;
  --bg-color-secondary: #003049;

  --txt-color: #ffffff;
  --txt-color-secondary: #fafafa;

  --bg-input-primary: #2b2d42;
  --bg-input-secondary: #003049;
  --border-primary-color: #ffffff;
}

/* Auto mode based on user preference */
html[data-theme='auto'] {
  color-scheme: light dark;
}

/* Light mode based on user preference */
@media (prefers-color-scheme: light) {
  [data-theme='auto'] {
    --color-bg-1: #ffffff;
    --color-bg-2: var(--pale-blue-light-4);
    --color-bg-3: #ffffff;

    --color-txt-1: #22223b;
    --color-txt-2: var(--pale-blue-dark-4);
    --color-txt-3: #ffffff;
  }
}

/* Dark mode based on user preference */
@media (prefers-color-scheme: dark) {
  [data-theme='auto'] {
    --bg-color: #2b2d42;
    --bg-color-secondary: #003049;

    --txt-color: #ffffff;
    --txt-color-secondary: #fafafa;

    --bg-input-primary: #2b2d42;
    --bg-input-secondary: #003049;
    --border-primary-color: #ffffff;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Inter', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-txt-1);
}

svg {
  fill: var(--color-txt-2);
}

/*  */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 9999px;
  border: 5px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
